.IntroText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.nav {
  text-align: center;
}
.center {
  text-align: center;
}

.button {
  background-color: #4caf50;
}

.question {
  background-color: rgb(255, 255, 255);
  height: 270px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
}
#wrong {
  color: red;
}
#right {
  color: green;
}
