.IntroText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.nav {
  text-align: center;
}
.center {
  text-align: center;
}

.button {
  background-color: #4caf50;
}

.question {
}
